h1{
    margin-left:20px;
  }
  .container{
    color:#5603AD;
    border-radius: 20px;
    font: 1.5em serif;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    border: 1px #5603AD;
    box-shadow: 0px 3px 10px;
    padding: 15px;
    height: 750px;
    width: 600px;
    margin: 50px;
    background-color: #F0FFF1;
  }
  
  .container-calculadora-peso, .container-calculadora-altura{
    border-radius: 15px;
    color: #5603AD;
    height:100px;
    width: 450px;
    text-align:center;
    font-family:'Roboto Mono', monospace;
    margin-bottom: 20px;
    margin:auto;
    background-color: #B3E9C7;
  }
  
  .input-number{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin:auto;
    font-size: 25px;
    background-color: white;
  }
  
  .botao-calcular{
    margin-top: 20px;
    width: 450px;
    margin:auto;
    border-radius: 20px;
    text-align:center;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    background-color: #8367C7;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
  }
  
  .container-calculadora-resultado{
    margin:auto;
    font-family: 'Oswald', sans-serif;
    display: flex;
    margin-top: 20px;
    text-align:center;
    width: 450px;
    height: 250px;
    border-radius: 5px;
    box-shadow: #5603AD;
    background: #B3E9C7;
    color: #8367C7;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
  }